api.vpndan.com {
	reverse_proxy localhost:8080

	tls /etc/caddy/certs/vpndan.com.crt /etc/caddy/certs/vpndan.com.key
}

db.vpndan.com {
	basic_auth {
		midan888 {env.PGWEB_HASH}
	}
	reverse_proxy localhost:8081

	tls /etc/caddy/certs/vpndan.com.crt /etc/caddy/certs/vpndan.com.key
}
